@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: content-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

hr {
    color: #CCC;
}

.header {
    background-color: white;
    padding: 30px 40px;
    border-bottom: 1px solid #CCC;
}

.header__logo {
    width: 48px;
    float: left;
    border-radius: 12px;
    margin-right: 10px;
}

.header h1 {
    font-size: 28px;
    font-weight: 700;
    max-width: 86%;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.novedades {
    margin: 0 auto;
    width: 80%;
}

.featured_articles {
    display: flex;
    flex-wrap: wrap;
}

.featured__article {
    width: 50%;
    padding: 12px;
    margin-right: 2em;
    /*article__big width: 94%;*/
}

.featured__title {
    font-weight: 700;
    font-size: 24px;
}

.featured__imagen {
    width: 100%;
    max-height: 310px;
    object-fit: cover;
    border-radius: 20px;
}

.related {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 6px;
}

.related__imagen {
    max-width: 189px;
    max-height: 130px;
    object-fit: cover;
    border-radius: 20px;
    padding: 4px 12px;
}

.related__info {
    line-height: 14px;
}

.related__title {
    font-weight: 700;
    font-size: 20px;
}

.related_date {
    color: #959595;
}

.populars {
    margin: 0 auto;
    width: 80%;
}

.novedades__title,
.populars__title {
    font-weight: 700;
}

.popular__articles {
    width: 56%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article {
    padding: 12px;
    width: 44%;
    font-size: 16px;
}

.article__title {
    font-weight: 700;
    font-size: 20px;
}

.article__imagen {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.article_date {
    color: #959595;
    line-height: 4px;
}

.popular__categories {
    width: 36%;
    float: left;
}

.category__list {
    list-style: none;
}

.category--item {
    max-width: 298px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    justify-content: space-around;

}

.category--logo {
    max-height: 72px;
}

.category--item--html {
    background: #E93E30;
}

.category--item--css {
    background: #299ED5;
}

.category--item--js {
    background: #F7E018;
}

.category--item--react {
    background: #292C33;
}

.category--item--vue {
    background: #67C770;
}

.category--item--bs {
    background: #563D7C;
}

.author {
    width: 100%;
}

.author__imagen {
    width: 32px;
    display: block;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
}

.author__name {
    font-weight: 500;
    float: left;

}

.author__date {
    margin-left: 40px;
    float: left;
}

.footer {
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid #CCC;
}

.footer__description {
    font-size: 28px;
    font-weight: 700;
    max-width: 78%;
    margin: 10px auto;
}

.footer__logo {
    width: 48px;
    float: left;
    border-radius: 12px;
    margin-right: 10px;
    background-color: black;
}

.footer__title {
    font-size: 28px;
    font-weight: 700;
}

.footer__copyrights {
    color: #959595;
    font-size: 20px;
}